<!DOCTYPE html>
<html ng-app="nodeNote">
  <head>
    <title>Note Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../public/stylesheets/style.css" media="screen">
  </head>
  <body ng-controller="mainController">
    <div class="container">
      <div class="header">
        <h1>Note Demo</h1>
        <hr>
        <h1 class="lead">Node + Express + Angular + PostgreSQL</h1>
      </div>
      <div class="note-form">
        <form>
          <div class="form-group">
		  <input type="text" class="form-control input-lg" placeholder="Enter subject..." ng-model="formData.subject">
            <input type="text" class="form-control input-lg" placeholder="Enter content..." ng-model="formData.content">
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="createNote()">Add Note</button>
        </form>
      </div>
      <br>
      <div class="note-list">
        <ul ng-repeat="note in noteData">
          <li><h3><input class="lead" type="checkbox" ng-click="deleteNote(note.id)">&nbsp;{{ note.subject }}&nbsp;{{ note.content }}</h3></li><hr>
        </ul>
      </div>
    </div>
    <script src="//code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>